.upstage-purple{
    background-color:#6254FF
}

.upstage-purple-light{
    background-color:#EDEDFE
}

.upstage-gray{
    background-color:#2D3142
}

.upstage-violet-blue{
    background-color:#6C5CE7
}